{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
{{ object.name }}
{% endblock %} 
{% block content %}
<div class="container">
    <div class="row align-items-center">

        <div class="col-4">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'categories-index' %}">Catgeories List</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'categories-detail' category.id %}">{{ category.name }}</a></li>
            </ul>
        </div>

        <div class="col-4 text-center">
            <h1 class="fw-bold text-muted mb-0">{{ category.name }}</h1>
        </div>
        <div class="col-4 text-end">

        </div>
    </div>
</div>
<hr style="color: rgb(2, 49, 110); border: 2px solid;">

<div class="d-flex justify-content-between">
  <div class="mb-4 d-flex gap-3">
    {% if user.is_staff %}
    <div>
      <a class="btn btn-primary shadow" href="{% url 'products-create' %}">Add New Product</a>
    </div>
    {% endif %}
    <div>
      <input class="form-control shadow" type="text" name="search" id="categorysearch"
        placeholder="Search Product Name..." />
    </div>
  </div>
  {% if user.is_staff %}
  <div>
    <a class="btn btn-primary" href="{% url 'categories-update' category.id %}"><i
        class="fa-solid fa-pen-to-square"></i> Edit {{ category.name }}</a>
    <a class="btn btn-danger" href="{% url 'categories-delete' category.id %}"><i class="fa-solid fa-trash"></i> Delete
      {{ category.name }}</a>
  </div>
  {% endif %}
</div>

{% if products %}
<div class="row g-4">
  {% for product in products %}
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <a class="text-decoration-none" href="{% url 'products-detail' product.id %}">
      <div class="category-card card shadow h-100 border-1">
        {% if product.image %}

        <img src="{{ product.image.url }}" class="card-img-top img-fluid object-fit-cover rounded-top"
          alt="{{ product.name }} image" style="height: 160px" />

        {% endif %}

        <div class="card-body d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              <h2 class="card-title h4 fw-bold">{{ product.name }}</h2>
            </div>
            <div>
              {% if product.quantity > 0 %}
              <span class="badge bg-success">In Stock ({{ product.quantity }})</span>
              {% else %}
              <span class="badge bg-danger">Out of Stock</span>
              {% endif %}
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-auto">
            <div>
              <button class="btn btn-outline-primary" type="submit">
                Order Now <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </button>
            </div>
          <div>
            <span class="fw-bold text-danger">{{ product.price }}
              <span class="text-muted fw-bold">BD</span></span>
          </div>
        </div>
      </div>
  </div>
  </a>
</div>
{% endfor %}
</div>

<div class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>
{% else %}
<p>No products in this category.</p>
{% endif %} {% endblock %}