{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-center">

        <div class="col-4">
            <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'login' %}">Login</a></li>
            </ul>
        </div>

        <div class="col-4 text-center">
            <h1 class="fw-bold text-muted mb-0">Products</h1>
        </div>
        <div class="col-4 text-end">

        </div>
    </div>
</div>
<hr style="color: rgb(2, 49, 110); border: 2px solid;">
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="btn" value="login">
    <p>Don't have an account? <a href="{% url 'signup' %}">Click here to register!</a></p>
</form>
{% endblock %}