{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <div class="sidebar">
      <div class="brand">
        <h4 class="px-3 mb-4">OverClocked</h4>
      </div>
      <ul class="list-unstyled">
        <li>
          <a
            class="text-decoration-none fs-4 fw-semibold"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li>
          <a
            class="text-decoration-none fs-4 fw-semibold"
            href="{% url 'categories-index' %}"
            >Categories</a
          >
        </li>
        <li>
          <a
            class="text-decoration-none fs-4 fw-semibold"
            href="{% url 'products-index' %}"
            >Products</a
          >
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="topbar shadow">
        <div class="user-info">
          {% if user.is_authenticated %}
          <div class="dropdown">
            <a
              class="d-flex align-items-center text-decoration-none dropdown-toggle fw-bold"
              href="#"
              id="userDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {% if user.profile.image %}

              <img
                src="{{ user.profile.image.url }}"
                alt="Profile Image"
                class="rounded-circle me-2"
                style="width: 40px; height: 40px; object-fit: cover"
              />
              {% else %}
              <div class="avatar me-2">{{ user.username|first|upper }}</div>
              {% endif %}
              <span>{{ user.username }}</span>
            </a>

            <ul class="dropdown-menu shadow" aria-labelledby="userDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'profile' %}"
                  >View Profile</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="dropdown-item text-danger" type="submit">
                    Logout
                  </button>
                </form>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>

        <form class="d-flex w-25 position-relative "  onsubmit="return false;">
          <input
            id="searchInput"
            class="form-control me-2 shadow-sm "
            type="search"
            placeholder="Search an item..."
            aria-label="Search"
            autocomplete="off"
            style="background-color: rgb(228, 228, 228); border: 1px solid rgb(158, 158, 158);"
          />

          <ul
            id="searchDropdown"
            class="list-group position-absolute w-100 "
            style="top: 100%; z-index: 1000; cursor: pointer;"
          ></ul>
        </form>

        <div class="d-flex gap-2">
          {% if user.is_authenticated %}
          <a href="{% url 'cart-detail' %}" class="btn btn-secondary">
            <i class="fa-solid fa-cart-shopping"></i>
              {% if cart_count > 0 %}
               <span class=" badge rounded-pill bg-danger">
              {{ cart_count }}
              </span>
               {% endif %}
          </a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
          <a class="btn btn-success" href="{% url 'signup' %}">Register</a>
          {% endif %}
        </div>
      </div>

      <div class="main-area">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const searchDropdown = document.getElementById("searchDropdown");

    searchInput.addEventListener("input", function () {
      const query = this.value.trim();

      if (query.length < 2) {
        searchDropdown.innerHTML = "";
        return;
      }

      fetch(`/search-suggestions/?q=${query}`)
        .then((response) => response.json())
        .then((data) => {
          searchDropdown.innerHTML = "";
          if (data.length > 0) {
            data.forEach((product) => {
              const item = document.createElement("li");
              item.className = "list-group-item d-flex align-items-center";
              item.innerHTML = `
              <img src="${product.image}" alt="${product.name}" width="40" height="40" class="me-2 rounded">
              <span>${product.name}</span>
            `;
              item.onclick = () => {
                window.location.href = `/products/${product.id}/`; 
              };
              searchDropdown.appendChild(item);
            });
          }
        });
    });
    document.addEventListener("click", function (e) {
      if (
        !searchInput.contains(e.target) &&
        !searchDropdown.contains(e.target)
      ) {
        searchDropdown.innerHTML = "";
      }
    });
  });
</script>
