{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

{% if form.errors %}
<ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Submit</button>
    <p>Already have an account? <a class="text-decoration-none" href="{% url 'login' %}">Click here to login!</a></p>
</form>

{% endblock %}